[Unit]
Description=nginx balancing container
Requires=docker.service
After=docker.service
[Service]
Restart=always
ExecStart=/usr/bin/docker start -a balancing
ExecStop=/usr/bin/docker stop -t 2 balancing
ExecRestart=/usr/bin/docker restart -t 2 balancing
[Install]
WantedBy=local.target
